  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>MERGER</title>
      <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
        crossorigin="anonymous"
      />
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"
      ></script>
      <link type="text/css" href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap"
        rel="stylesheet"
      />
    <body>
      <!-- navbar -->
      <nav class="navbar ">
        <div class="container-fluid">
          <h1 class="title">Excel workbook Merger</h1>
        </div>
        <!-- navbar -->
      </nav>
      <div>
        <h2 class="title2">Merge Excel workbooks</h2>
        <h4>Choose the Files in the order in which you want to merge!</h4>
      </div>

      <form
        id="myForm"
        action="/upload"
        method="POST"
        enctype="multipart/form-data"
      >
        <input type="file" name="files[]" multiple />
        <div id="chosenFilesDiv"></div>
        <button id="b2" class="btn" type="button" onclick="showChosenFiles()">
          Choose Order
        </button>
        <button id="b1"  class="btn" type="submit" onclick="myFunction()">Merge Files</button>
      </form> 
      <div class="order">selected order </div>
      <div id="selectedOrder"></div>
      <div id="downloadLink"></div>
      <script src="{{url_for('static', filename='javascript.js')}}"></script>
    </body>
  </html>
</html>